<div class="container">
    <center>
        <h1>LIBROS</h1>
    </center>
    <div class="alert alert-danger" ng-show="showError">
        {{ error }}
    </div>
    <div class="alert alert-success" ng-show="showSuccess">
        {{ success }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Foto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cutItem in cutsList">
                <td>
                    {{ cutItem.cutDescription }}
                </td>
                <td>
                    {{ cutItem.cutTime }}
                </td>
                <td>
                        <img ng-src=" C://{{ cutItem.cutImage }}" width="300" height="300">
                   
                </td>
                <td>
                    <button type="button" ng-click="getCut(cutItem._id);" class="btn btn-primary">Editar</button>
                    <button type="button" ng-click="deleteCut(cutItem._id);" class="btn btn-primary">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>


    <button type="button" ng-click="newCut();" class="btn btn-primary">Nuevo</button>

    <input type="hidden" ng-model="book.bookId" />

    <div class="modal" id="booksModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Libro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Descripci&oacute;n</label>
                        <input type="text" class="form-control" ng-model="cut.cutDescription">
                    </div>
                    <div class="form-group">
                        <label>Tiempo</label>
                        <input type="text" class="form-control" ng-model="cut.cutTime">
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <input type="file" ng-model="cut.cutImage" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*">
                    </div>
                    <div ng-if="edit==0 || edit==2">


                        <img data-ng-src="data:image/png;base64,{{cut.cutImage.base64}}" width="300" height="300"  />
                    </div>
                    <div ng-if="edit==1">
                            
                            
                            <img ng-src=" C://{{ cut.cutImage }}" width="300" height="300">
                                                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="saveCut();" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el libro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="confirmDelete();" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>