<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="calConfig.calendarView" btn-radio="'month'">Month</label>
                    <label class="btn btn-primary" ng-model="calConfig.calendarView" btn-radio="'week'">Week</label>
                    <label class="btn btn-primary" ng-model="calConfig.calendarView" btn-radio="'day'">Day</label>
                </div>
            </span>
        </div>
        <div class="panel-body">
            <mwl-calendar events="events" view="calConfig.calendarView" view-title="calendarTitle" current-day="calConfig.calendarDay"
                on-event-click="eventClicked(calendarEvent)" edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" on-edit-event-click="eventEdited(calendarEvent)"
                on-delete-event-click="eventDeleted(calendarEvent)" auto-open="true">
            </mwl-calendar>
        </div>
    </div>
</div>