<div class="container">
    <h1 class="text-center">Reservas</h1>
    <div class="alert alert-danger" ng-show="showError">
        {{ error }}
    </div>
    <div class="alert alert-success" ng-show="showSuccess">
        {{ success }}
    </div>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Reservante</th>
                <th scope="col">Telefono Contacto</th>
                <th scope="col">Fecha Reservada</th>
                <th scope="col">Hora Reservada</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reservationItem in reservationsList">
                <td>
                    {{ reservationItem.name }}
                </td>
                <td>
                    {{ reservationItem.phone }}
                </td>
                <td>
                    {{ reservationItem.reservationDate }}
                </td>
                <td>
                    {{ reservationItem.reservationTime }}
                </td>
                <td>
                    {{ reservationItem.cutNombre }}
                </td>
                <td>
                    <img ng-src="{{rute}}{{reservationItem.cutImage}}?{{date}}" width="100" height="100">
                </td>
                <td>
                    <button type="button" ng-click="getReservation(reservationItem._id);" class="btn btn-primary">Editar</button>
                    <button type="button" ng-click="deleteReservation(reservationItem._id);" class="btn btn-primary">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" ng-click="newReservation();" class="btn btn-primary">Nueva</button>

    <input type="hidden" ng-model="reservation.reservationId" />

    <div class="modal" id="reservationsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reservante</label>
                        <input type="text" class="form-control" ng-model="reservation.name">
                    </div>
                    <div class="form-group">
                        <label>Telefono de Contacto</label>
                        <input type="text" class="form-control" ng-model="reservation.phone">
                    </div>
                    <div class="form-group">
                        <label>Fecha Reserva</label>
                        <input type="date" class="form-control" ng-model="reservation.reservationDate">
                    </div>
                    <div class="form-group">
                        <label>Hora Reserva</label>
                        <input type="time" class="form-control" ng-model="reservation.reservationTime">
                    </div>
                    <div class="form-group">
                        <label>Corte</label>
                        <select ng-model="cut" ng-options="x.cutNombre for x in cutsList">
                            <option value="">Seleccione un corte</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Imagen</label>
                        <img ng-src="{{rute}}{{cut.cutImage}}?{{date}}" width="100" height="100" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="saveReservation();" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Atención</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea cancelar la reserva?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="confirmDelete();" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>